<div class="container">
  <h1 style="text-align:center;margin-top:50px">Memorama</h1>

  <form class="form-inline">
    <div class="form-group">
      <label for="numeroParejas">Seleccione el número de parejas para el tablero: </label>
      <select class="form-control" id="numeroParejas" name="numeroParejas"[(ngModel)]="numParejas" (ngModelChange)="onChange($event)">
          <option *ngFor="let opcion of opciones" [ngValue]="opcion">{{opcion}}</option>
      </select>      
    </div>
    <button type="submit" class="btn btn-default" (click)="generarTablero()">Jugar</button>
  </form>
  
  
  <div style="margin-top:100px" *ngIf="numParejas == 1 && tableroListo">
    <div class="row" >
      <div class="col-md-6">
        <a  class="thumbnail manito" (click)="seleccionar(tablero[0][0],0,0)">
          <img src="{{signoPregunta}}" *ngIf="tablero[0][0].tapada">
          <img src="data:image/png;base64,{{tablero[0][0].imagen}}" *ngIf="!tablero[0][0].tapada">
        </a>
      </div>
      <div class="col-md-6">
        <a  class="thumbnail manito" (click)="seleccionar(tablero[0][1],0,1)">
          <img src="{{signoPregunta}}" *ngIf="tablero[0][1].tapada">
          <img src="data:image/png;base64,{{tablero[0][1].imagen}}" *ngIf="!tablero[0][1].tapada">
        </a>
      </div>      
    </div>    
  </div>

  <div style="margin-top:100px" *ngIf="numParejas == 2 && tableroListo">
    <div class="row" >
      <div class="col-md-6">
        <a  class="thumbnail manito" (click)="seleccionar(tablero[0][0],0,0)">
          <img src="{{signoPregunta}}" *ngIf="tablero[0][0].tapada">
          <img src="data:image/png;base64,{{tablero[0][0].imagen}}" *ngIf="!tablero[0][0].tapada">
        </a>
      </div>
      <div class="col-md-6">
        <a  class="thumbnail manito" (click)="seleccionar(tablero[0][1],0,1)">
          <img src="{{signoPregunta}}" *ngIf="tablero[0][1].tapada">
          <img src="data:image/png;base64,{{tablero[0][1].imagen}}" *ngIf="!tablero[0][1].tapada">
        </a>
      </div>      
    </div>
    <div class="row" >
        <div class="col-md-6">
          <a  class="thumbnail manito" (click)="seleccionar(tablero[1][0],1,0)">
            <img src="{{signoPregunta}}" *ngIf="tablero[1][0].tapada">
            <img src="data:image/png;base64,{{tablero[1][0].imagen}}" *ngIf="!tablero[1][0].tapada">
          </a>
        </div>
        <div class="col-md-6">
          <a  class="thumbnail manito" (click)="seleccionar(tablero[1][1],1,1)">
            <img src="{{signoPregunta}}" *ngIf="tablero[1][1].tapada">
            <img src="data:image/png;base64,{{tablero[1][1].imagen}}" *ngIf="!tablero[1][1].tapada">
          </a>
        </div>      
      </div>    
  </div>

  <div style="margin-top:100px" *ngIf="numParejas == 3 && tableroListo">
      <div class="row" >
        <div class="col-md-4">
          <a class="thumbnail manito" (click)="seleccionar(tablero[0][0],0,0)">
            <img src="{{signoPregunta}}" *ngIf="tablero[0][0].tapada">
            <img src="data:image/png;base64,{{tablero[0][0].imagen}}" *ngIf="!tablero[0][0].tapada">
          </a>
        </div>
        <div class="col-md-4">
          <a  class="thumbnail manito" (click)="seleccionar(tablero[0][1],0,1)">
            <img src="{{signoPregunta}}" *ngIf="tablero[0][1].tapada">
            <img src="data:image/png;base64,{{tablero[0][1].imagen}}" *ngIf="!tablero[0][1].tapada">
          </a>
        </div>
        <div class="col-md-4">
          <a  class="thumbnail manito" (click)="seleccionar(tablero[1][0],1,0)">
              <img src="{{signoPregunta}}" *ngIf="tablero[1][0].tapada">
            <img src="data:image/png;base64,{{tablero[1][0].imagen}}" *ngIf="!tablero[1][0].tapada">
          </a>
        </div>      
      </div>
      <div class="row" >
        <div class="col-md-4">
          <a  class="thumbnail manito" (click)="seleccionar(tablero[1][1],1,1)">
            <img src="{{signoPregunta}}" *ngIf="tablero[1][1].tapada">
            <img src="data:image/png;base64,{{tablero[1][1].imagen}}" *ngIf="!tablero[1][1].tapada">
          </a>
        </div>
        <div class="col-md-4">
          <a  class="thumbnail manito" (click)="seleccionar(tablero[2][0],2,0)">
            <img src="{{signoPregunta}}" *ngIf="tablero[2][0].tapada">
            <img src="data:image/png;base64,{{tablero[2][0].imagen}}" *ngIf="!tablero[2][0].tapada">
          </a>
        </div>
        <div class="col-md-4">
          <a  class="thumbnail manito" (click)="seleccionar(tablero[2][1],2,1)">
            <img src="{{signoPregunta}}" *ngIf="tablero[2][1].tapada">
            <img src="data:image/png;base64,{{tablero[2][1].imagen}}" *ngIf="!tablero[2][1].tapada">
          </a>
        </div>      
      </div>    
    </div>

    <div style="margin-top:100px" *ngIf="numParejas == 4 && tableroListo">
      <div class="row" >
        <div class="col-md-3">
          <a class="thumbnail manito" (click)="seleccionar(tablero[0][0],0,0)">
            <img src="{{signoPregunta}}" *ngIf="tablero[0][0].tapada">
            <img src="data:image/png;base64,{{tablero[0][0].imagen}}" *ngIf="!tablero[0][0].tapada">
          </a>
        </div>
        <div class="col-md-3">
          <a  class="thumbnail manito" (click)="seleccionar(tablero[0][1],0,1)">
            <img src="{{signoPregunta}}" *ngIf="tablero[0][1].tapada">
            <img src="data:image/png;base64,{{tablero[0][1].imagen}}" *ngIf="!tablero[0][1].tapada">
          </a>
        </div>
        <div class="col-md-3">
          <a  class="thumbnail manito" (click)="seleccionar(tablero[1][0],1,0)">
              <img src="{{signoPregunta}}" *ngIf="tablero[1][0].tapada">
            <img src="data:image/png;base64,{{tablero[1][0].imagen}}" *ngIf="!tablero[1][0].tapada">
          </a>
        </div>
        <div class="col-md-3">
          <a  class="thumbnail manito" (click)="seleccionar(tablero[1][1],1,1)">
              <img src="{{signoPregunta}}" *ngIf="tablero[1][1].tapada">
            <img src="data:image/png;base64,{{tablero[1][1].imagen}}" *ngIf="!tablero[1][1].tapada">
          </a>
        </div>      
      </div>
      <div class="row" >        
        <div class="col-md-3">
          <a  class="thumbnail manito" (click)="seleccionar(tablero[2][0],2,0)">
            <img src="{{signoPregunta}}" *ngIf="tablero[2][0].tapada">
            <img src="data:image/png;base64,{{tablero[2][0].imagen}}" *ngIf="!tablero[2][0].tapada">
          </a>
        </div>
        <div class="col-md-3">
          <a  class="thumbnail manito" (click)="seleccionar(tablero[2][1],2,1)">
            <img src="{{signoPregunta}}" *ngIf="tablero[2][1].tapada">
            <img src="data:image/png;base64,{{tablero[2][1].imagen}}" *ngIf="!tablero[2][1].tapada">
          </a>
        </div>
        <div class="col-md-3">
          <a  class="thumbnail manito" (click)="seleccionar(tablero[3][0],3,0)">
            <img src="{{signoPregunta}}" *ngIf="tablero[3][0].tapada">
            <img src="data:image/png;base64,{{tablero[3][0].imagen}}" *ngIf="!tablero[3][0].tapada">
          </a>
        </div>
        <div class="col-md-3">
          <a  class="thumbnail manito" (click)="seleccionar(tablero[3][1],3,1)">
            <img src="{{signoPregunta}}" *ngIf="tablero[3][1].tapada">
            <img src="data:image/png;base64,{{tablero[3][1].imagen}}" *ngIf="!tablero[3][1].tapada">
          </a>
        </div>      
      </div>    
    </div>

    <div style="margin-top:100px" *ngIf="numParejas == 5 && tableroListo">
      <div class="row" >
        <div class="col-md-3">
          <a class="thumbnail manito" (click)="seleccionar(tablero[0][0],0,0)">
            <img src="{{signoPregunta}}" *ngIf="tablero[0][0].tapada">
            <img src="data:image/png;base64,{{tablero[0][0].imagen}}" *ngIf="!tablero[0][0].tapada">
          </a>
        </div>
        <div class="col-md-3">
          <a  class="thumbnail manito" (click)="seleccionar(tablero[0][1],0,1)">
            <img src="{{signoPregunta}}" *ngIf="tablero[0][1].tapada">
            <img src="data:image/png;base64,{{tablero[0][1].imagen}}" *ngIf="!tablero[0][1].tapada">
          </a>
        </div>
        <div class="col-md-3">
          <a  class="thumbnail manito" (click)="seleccionar(tablero[1][0],1,0)">
              <img src="{{signoPregunta}}" *ngIf="tablero[1][0].tapada">
            <img src="data:image/png;base64,{{tablero[1][0].imagen}}" *ngIf="!tablero[1][0].tapada">
          </a>
        </div>
        <div class="col-md-3">
          <a  class="thumbnail manito" (click)="seleccionar(tablero[1][1],1,1)">
              <img src="{{signoPregunta}}" *ngIf="tablero[1][1].tapada">
            <img src="data:image/png;base64,{{tablero[1][1].imagen}}" *ngIf="!tablero[1][1].tapada">
          </a>
        </div>      
      </div>
      <div class="row" >        
        <div class="col-md-3">
          <a  class="thumbnail manito" (click)="seleccionar(tablero[2][0],2,0)">
            <img src="{{signoPregunta}}" *ngIf="tablero[2][0].tapada">
            <img src="data:image/png;base64,{{tablero[2][0].imagen}}" *ngIf="!tablero[2][0].tapada">
          </a>
        </div>
        <div class="col-md-3">
          <a  class="thumbnail manito" (click)="seleccionar(tablero[2][1],2,1)">
            <img src="{{signoPregunta}}" *ngIf="tablero[2][1].tapada">
            <img src="data:image/png;base64,{{tablero[2][1].imagen}}" *ngIf="!tablero[2][1].tapada">
          </a>
        </div>
        <div class="col-md-3">
          <a  class="thumbnail manito" (click)="seleccionar(tablero[3][0],3,0)">
            <img src="{{signoPregunta}}" *ngIf="tablero[3][0].tapada">
            <img src="data:image/png;base64,{{tablero[3][0].imagen}}" *ngIf="!tablero[3][0].tapada">
          </a>
        </div>
        <div class="col-md-3">
          <a  class="thumbnail manito" (click)="seleccionar(tablero[3][1],3,1)">
            <img src="{{signoPregunta}}" *ngIf="tablero[3][1].tapada">
            <img src="data:image/png;base64,{{tablero[3][1].imagen}}" *ngIf="!tablero[3][1].tapada">
          </a>
        </div>      
      </div>
      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-3">
          <a  class="thumbnail manito" (click)="seleccionar(tablero[4][0],4,0)">
            <img src="{{signoPregunta}}" *ngIf="tablero[4][0].tapada">
            <img src="data:image/png;base64,{{tablero[4][0].imagen}}" *ngIf="!tablero[4][0].tapada">
          </a>
        </div>
        <div class="col-md-3">
          <a  class="thumbnail manito" (click)="seleccionar(tablero[4][1],4,1)">
            <img src="{{signoPregunta}}" *ngIf="tablero[4][1].tapada">
            <img src="data:image/png;base64,{{tablero[4][1].imagen}}" *ngIf="!tablero[4][1].tapada">
          </a>
        </div>
        <div class="col-md-3">

        </div>                
      </div>    
    </div>

    <div style="margin-top:100px" *ngIf="numParejas == 6 && tableroListo">
        <div class="row" >
          <div class="col-md-3">
            <a class="thumbnail manito" (click)="seleccionar(tablero[0][0],0,0)">
              <img src="{{signoPregunta}}" *ngIf="tablero[0][0].tapada">
              <img src="data:image/png;base64,{{tablero[0][0].imagen}}" *ngIf="!tablero[0][0].tapada">
            </a>
          </div>
          <div class="col-md-3">
            <a  class="thumbnail manito" (click)="seleccionar(tablero[0][1],0,1)">
              <img src="{{signoPregunta}}" *ngIf="tablero[0][1].tapada">
              <img src="data:image/png;base64,{{tablero[0][1].imagen}}" *ngIf="!tablero[0][1].tapada">
            </a>
          </div>
          <div class="col-md-3">
            <a  class="thumbnail manito" (click)="seleccionar(tablero[1][0],1,0)">
                <img src="{{signoPregunta}}" *ngIf="tablero[1][0].tapada">
              <img src="data:image/png;base64,{{tablero[1][0].imagen}}" *ngIf="!tablero[1][0].tapada">
            </a>
          </div>
          <div class="col-md-3">
            <a  class="thumbnail manito" (click)="seleccionar(tablero[1][1],1,1)">
                <img src="{{signoPregunta}}" *ngIf="tablero[1][1].tapada">
              <img src="data:image/png;base64,{{tablero[1][1].imagen}}" *ngIf="!tablero[1][1].tapada">
            </a>
          </div>      
        </div>
        <div class="row" >        
          <div class="col-md-3">
            <a  class="thumbnail manito" (click)="seleccionar(tablero[2][0],2,0)">
              <img src="{{signoPregunta}}" *ngIf="tablero[2][0].tapada">
              <img src="data:image/png;base64,{{tablero[2][0].imagen}}" *ngIf="!tablero[2][0].tapada">
            </a>
          </div>
          <div class="col-md-3">
            <a  class="thumbnail manito" (click)="seleccionar(tablero[2][1],2,1)">
              <img src="{{signoPregunta}}" *ngIf="tablero[2][1].tapada">
              <img src="data:image/png;base64,{{tablero[2][1].imagen}}" *ngIf="!tablero[2][1].tapada">
            </a>
          </div>
          <div class="col-md-3">
            <a  class="thumbnail manito" (click)="seleccionar(tablero[3][0],3,0)">
              <img src="{{signoPregunta}}" *ngIf="tablero[3][0].tapada">
              <img src="data:image/png;base64,{{tablero[3][0].imagen}}" *ngIf="!tablero[3][0].tapada">
            </a>
          </div>
          <div class="col-md-3">
            <a  class="thumbnail manito" (click)="seleccionar(tablero[3][1],3,1)">
              <img src="{{signoPregunta}}" *ngIf="tablero[3][1].tapada">
              <img src="data:image/png;base64,{{tablero[3][1].imagen}}" *ngIf="!tablero[3][1].tapada">
            </a>
          </div>      
        </div>
        <div class="row">          
          <div class="col-md-3">
            <a  class="thumbnail manito" (click)="seleccionar(tablero[4][0],4,0)">
              <img src="{{signoPregunta}}" *ngIf="tablero[4][0].tapada">
              <img src="data:image/png;base64,{{tablero[4][0].imagen}}" *ngIf="!tablero[4][0].tapada">
            </a>
          </div>
          <div class="col-md-3">
            <a  class="thumbnail manito" (click)="seleccionar(tablero[4][1],4,1)">
              <img src="{{signoPregunta}}" *ngIf="tablero[4][1].tapada">
              <img src="data:image/png;base64,{{tablero[4][1].imagen}}" *ngIf="!tablero[4][1].tapada">
            </a>
          </div>
          <div class="col-md-3">
            <a  class="thumbnail manito" (click)="seleccionar(tablero[5][0],5,0)">
              <img src="{{signoPregunta}}" *ngIf="tablero[5][0].tapada">
              <img src="data:image/png;base64,{{tablero[5][0].imagen}}" *ngIf="!tablero[5][0].tapada">
            </a>
          </div>
          <div class="col-md-3">
            <a  class="thumbnail manito" (click)="seleccionar(tablero[5][1],5,1)">
              <img src="{{signoPregunta}}" *ngIf="tablero[5][1].tapada">
              <img src="data:image/png;base64,{{tablero[5][1].imagen}}" *ngIf="!tablero[5][1].tapada">
            </a>
          </div>                
        </div>    
      </div>
</div>

